# ----------------------------------------------------------------------------
# Logging configuration
# ----------------------------------------------------------------------------

[loggers]
keys=root,ensconce,sqlalchemy,cherrypy.error,cherrypy.access

[handlers]
keys=syslog,console

[formatters]
keys = generic,notime

[logger_root]
level=DEBUG
handlers=console,syslog

[logger_ensconce]
level=DEBUG
handlers=
qualname=ensconce

[logger_cherrypy.error]
level=INFO
handlers=
qualname=cherrypy.error

[logger_cherrypy.access]
level=INFO
handlers=
qualname=cherrypy.access

[logger_sqlalchemy]
level = WARN
#level = INFO
handlers =
qualname = sqlalchemy.engine
# "level = INFO" logs SQL queries.
# "level = DEBUG" logs SQL queries and results.
# "level = WARN" logs neither.  (Recommended for production systems.)

[handler_console]
class=StreamHandler
formatter=generic
args=(sys.stdout,)

[handler_syslog]
class = handlers.SysLogHandler
args = ('/dev/log',)
formatter = notime

[formatter_notime]
format = %(threadName)s %(levelname)-5.5s [%(name)s] %(message)s
datefmt = %H:%M:%S

[formatter_generic]
format=%(asctime)s,%(msecs)03d %(levelname)-8s %(log_color)s%(threadName)s %(message)s
datefmt = %m-%d %H:%M:%S
class = colorlog.ColoredFormatter
