{% extends "password/base.html" %}
{% block title %}Add a Password{% endblock %}

{% block content %}

<form class="validation_form" action="/password/process_add" method="post" name="password_form" id="password_form">
	{{ form.resource_id() }}
    <ul>
        <li>
             <h2>Add Password</h2>
             <span class="required_notification">* Denotes Required Field</span>
        </li>
        {% include "password/formfields.inc.html" %}
        <li>
            <button class="submit" type="submit">Add Password</button>
        </li>
    </ul>
</form>

<br /><br/>

<div style="align:center">
{% import "macros.inc.html" as macros %}
{{ macros.generate_password(password_field="password_decrypted") }}
</div>



{% endblock %}
