{% extends "user/base.html" %}
{% block title %}Add Operator{% endblock %}
{% block content %}

<form class="validation_form" action="/user/process_add" method="post" name="operator_form" id="operator_form">
    <ul>
        <li>
             <h2>Add Operator</h2>
             <span class="required_notification">* Denotes Required Field</span>
        </li>
        {% include "user/formfields.inc.html" %}
        <li>
            <button class="submit" type="submit">Add Operator</button>
        </li>
    </ul>
</form>

<br /><br/>

<div style="align:center">
{% import "macros.inc.html" as macros %}
{{ macros.generate_password(password_field="password") }}
</div>

{% endblock %}
